div.wrapper
	p.slogan The Braybrook Maidstone Neighbourhood House Inc
	p.donate
		a(href="#") 03 9317 5610
	h1#logo
		a(href="")
			img(src="img/logo.png" alt="logo" title="logo")
	div.formSearch
		form
			input.search_top(type="text" placeholder="Search...")
			input(type="submit" name="submit" value="Search")
nav#topNav
	ul.slimmenu
		li
			a(href="") About Us
			ul.sub-menu
				li
					a(href="") Meet The Board
				li
					a(href="") About The House
		li
			a(href="") Courses
		li
			a(href="") Services
		li
			a(href="") Newsletter
		li
			a(href="") Events
		li
			a(href="") Sponsors
		li
			a(href="") Contact Us