div.sponsor
	h3 B.M.N.H Sponsors
	article
		div
			header
				h2
					a(href="") BMS Public Tenants Assoc
			p.des BMSPTA is a centre for a variety of programs and activities…
				a(href="").readmore More
		a(href="")
			img(src="img/sponsor.jpg" alt="" title="")
	article
		div
			header
				h2
					a(href="") BMS Public Tenants Assoc
			p.des BMSPTA is a centre for a variety of programs and activities…
				a(href="").readmore More
		a(href="")
			img(src="img/sponsor.jpg" alt="" title="")
	article
		div
			header
				h2
					a(href="") BMS Public Tenants Assoc
			p.des BMSPTA is a centre for a variety of programs and activities…
				a(href="").readmore More
		a(href="")
			img(src="img/sponsor.jpg" alt="" title="")
	article
		div
			header
				h2
					a(href="") Silk media
			p.des B.M.N.H Would like to thank Silk Media Point Cook for their…
				a(href="").readmore More
		a(href="")
			img(src="img/silk.png" alt="" title="")
img#toTop.mobile(src="img/icon-scroll.png" alt="Scroll to top" title="Scroll to top")