div.formSubcribe
	h3 eNewsletter
	form
		span.firstName
			input.name(type="text" placeholder="First name..." name="firstName")
		span.lastName
			input.name(type="text" placeholder="Last name..." name="lastName")
		span.email
			input(type="email" placeholder="Email..." name="email")
		input(type="submit" name="submit" value="Subscribe")
		span.privacy Your privacy is protected
		i Subscribe to received our newsletter
div.communnityLunch
	h3 B.M.S.P.T.A <br/> Community Lunches
	p
		span BI – MONTHLY
	ul
		li Wednesday  September 16th
		li Wednesday  November 18th 12:30 pm Guest Speaker
		li Thursday December 17th 12:00 pm Christmas Party

	p
		span ANNUAL GENERAL MEETING
	ul
		li Thursday 15th October 6:00 pm R.S.V.P. by 12th October
div.sponsor
	h3 B.M.N.H Sponsors
	article
		div
			header
				h2
					a(href="") BMS Public Tenants Assoc
			p.des BMSPTA is a centre for a variety of programs and activities…
				a(href="").readmore More
		a(href="")
			img(src="img/sponsor.jpg" alt="" title="")
	article
		div
			header
				h2
					a(href="") BMS Public Tenants Assoc
			p.des BMSPTA is a centre for a variety of programs and activities…
				a(href="").readmore More
		a(href="")
			img(src="img/sponsor.jpg" alt="" title="")
	article
		div
			header
				h2
					a(href="") BMS Public Tenants Assoc
			p.des BMSPTA is a centre for a variety of programs and activities…
				a(href="").readmore More
		a(href="")
			img(src="img/sponsor.jpg" alt="" title="")
	article
		div
			header
				h2
					a(href="") Silk media
			p.des B.M.N.H Would like to thank Silk Media Point Cook for their…
				a(href="").readmore More
		a(href="")
			img(src="img/silk.png" alt="" title="")
img#toTop.mobile(src="img/icon-scroll.png" alt="Scroll to top" title="Scroll to top")