div.formSubcribe
	h3 eNewsletter
	form
		span
			input.name(type="text" placeholder="First name..." name="firstName")
		span
			input.name(type="text" placeholder="Last name..." name="lastName")
		span
			input.email(type="text" placeholder="Email..." name="email")
		input(type="submit" name="submit" value="Subscribe")
		span.privacy Your privacy is protected
		i Subscribe to received our newsletter
div.communnityLunch
	h3 B.M.S.P.T.A <br/> Community Lunches
	p
		span BI – MONTHLY
	ul
		li Wednesday  September 16th
		li Wednesday  November 18th 12:30 pm Guest Speaker
		li Thursday December 17th 12:00 pm Christmas Party

	p
		span ANNUAL GENERAL MEETING
	ul
		li Thursday 15th October 6:00 pm R.S.V.P. by 12th October