doctype html
html(lang="vi")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		title Neighbourhood
		link(rel="stylesheet" type="text/css" href="style.css")
		//link(rel="stylesheet/less" type="text/css" href="style.less")
		script(src="js/jquery-1.11.1.min.js")
		script(src="js/less.js")
	body
		head
			include template/head.jade
		body
			header#header
				include template/header.jade
			
			
		div.wrapper
			p.breadcumb
				a(href="") Home
				span category
			session.mainContent.category
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
				article.post28
					a(href="")
						div
							img(src="img/slider1.jpg" alt="" title="")
						div
					div
						header
								h2
									a(href="") MOISTURE CALCIUM
						p We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons
					a.readmore(href="") Read More
			aside.sidebar
				include template/sidebar.jade

		footer
			include template/footer.jade

		script(src="js/custom.js")