doctype html
html(lang="vi")
	head
		include template/head.jade
	body
		header#header
			include template/header.jade
			
			
		div.wrapper
			p.breadcumb
				a(href="") Home
				span B.M.N.H Contact Us
			div.banner
				img(src="img/banner-contact.jpg" alt="" title="")
			session.mainContent.contact
				p.title Contact us
				p Thank you for your interest in Braybrook Maidstone Neighbourhood House Inc For fundraising and general enquiries, please contact:
				p Phone: 03 9317 5610
				p Email: office@bmnh.org.au
				p Address: 113 Melon Street, Braybrook 3019
				p.title OPENING HOURS:
				p
				p Public Holiday: Closed
				p Or Alternatively Fill Out Enquiries Form Below:
				form
					div
						label(for="firstName") First name
							span *
						input#firstName(type="text")
					div
						label(for="lasttName") Last name
							span *
						input#lasttName(type="text")
					div
						label(for="email") Email
							span *
						input#email(type="email")
					div
						label(for="subject") Subject
							span *
						input(type="text")
					div
						label(for="message") Message
							span *
						textarea#message
					div
						input(type="submit" value="submit")
						span + *Required Fields
				div.map
					p We Are Here
					div
						<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d29540921.532936193!2d135.745076!3d-25.335448!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sau!4v1447441506168" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



			aside.sidebar
				include template/sidebar.jade

		footer
			include template/footer.jade
		script(src="js/custom.js")