nav#bottomNav
	ul.slimmenu2
		li
			a(href="") About Us 
		li
			a(href="") Courses
		li
			a(href="") Services
		li
			a(href="") Newsletter
		li
			a(href="") Events
		li
			a(href="") Sponsors
		li
			a(href="") Contact Us
		li
			a(href="") FAQs  I  Unsubscribe Newsletter
		li
			a(href="") Privacy Policy
div.wrapper
	div.contact
		p Contact us:
		ul
			li 113 Melon Street, Braybrook 3019
			li Phone: 03 9317 5610
			li Email: office@bmnh.org.au
			li ABN 73 967 833 454
	div.openHour
		p open hour:
		ul
			li Monday to Thursday 9:00 am – 4:00 pm  
	div.social
		p Follow Us on
		a(href="")
			img(src="img/icon-face.png" alt="Facebook" title="Facebook")
		a(href="")
			img(src="img/icon-twitter.png" alt="Twitter" title="Twitter")
		a(href="")
			img(src="img/icon-g+.png" alt="Google+" title="Google+")
div.copyright
	div
		p.left Copyright 2015 @ 2015 B.M.N.H. All Rights Reserved
		p.right Power by 
			img(src="img/silk.png" alt="" title="")
img#toTop.desktop(src="img/icon-scroll.png" alt="Scroll to top" title="Scroll to top")