meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
title Neighbourhood
//link(rel="stylesheet" type="text/css" href="style.css")
link(rel="stylesheet/less" type="text/css" href="style.less")
script(src="js/jquery-1.11.1.min.js")
script(src="js/less.js")
script(src="js/jquery.easing.min.js")
script(src="js/jquery.slimmenu.js")
script(src="js/jssor.js")
script(src="js/jssor.slider.js")
