doctype html
html(lang="vi")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		title Neighbourhood
		// link(rel="stylesheet" type="text/css" href="style.css")
		link(rel="stylesheet/less" type="text/css" href="style.less")
		script(src="js/jquery-1.9.1.min.js")
		script(src="js/less.js")
	body
		header
			div.wrapper
				p.donate
					a(href="") 03 9317 5610
				p.slogan The Braybrook Maidstone Neighbourhood House Inc
			nav
				ul
					li
						a(href="") About Us
					li
						a(href="") Courses
					li
						a(href="") Services
					li
						a(href="") Newsletter
					li
						a(href="") Events
					li
						a(href="") Sponsors
					li
						a(href="") Contact Us
			h1#logo
				a(href="")
					img(src="img/facebook.png" alt="facebook" title="facebook")
			div.formSearch
				form#searchform
		div.wrapper
			session.slider
			session.mainContent
				p The BMNH is a non-profit and charitable institution. The central purpose of the BMNH is to provide direct relief from poverty, misfortune and helplessness to the residents of the Braybrook and Maidstone through the services it provides. 
				p Braybrook and Maidstone are routinely ranked amongst the most socio-economically disadvantaged areas in Victoria[1]. The BMNH is centrally focused on the direct provision of services which relieve the severe disadvantage and alleviate the poverty, misfortune and helplessness with which its members are burdened.
				article
					div
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
						header
							h2
								a(href="") B.M.N.H Courses
					p.des Looking for something to do? Want to meet new people? Then come do a course at BMNH. Many of our courses are free, and cover areas ranging from gardening to craft to computing ... What are you waiting for? 
					a(href="").readmore Read More
				article
					div
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
						header
							h2
								a(href="") B.M.N.H Services
					p.des FREE Financial & Legal Counselling in Braybrook. Footscray Lega
					a(href="").readmore Read More
				article
					div
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
						header
							h2
								a(href="") B.M.N.H Training
					p.des Training for Advanced Diploma of Disability will commence at the Braybrook and Maidstone Neighbourhood House on Friday July 10th at 10:00 am. Once per month ongoing throughout...
					a(href="").readmore Read More
				article
					div
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
						header
							h2
								a(href="") B.M.N.H Volunteer
					p.des Volunteering is a great way to learn new skills, meet new people and participate in your community. 
					a(href="").readmore Read More
				article
					div
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
						header
							h2
								a(href="") Room For Hire
					p.des We have an activity room for hire to suit meetings, workshops and social groups etc. The room is available for casual or ongoing bookings. We also have a computer Hub for hire with 11 computers and a kitchen for cooking lessons...
					a(href="").readmore Read More
				article
					div
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
						header
							h2
								a(href="") Trading Table
					p.des Bring your unwanted goods and donate to the trading table. Goods must be in good condition. All proceeds go to the BMNH towards materials.
					a(href="").readmore Read More
					
			session.sidebar
				div.formSubcribe
				div.communnityLunch
					h3 B.M.S.P.T.A Community Lunches
					p BI – MONTHLY
					ul
						li • Wednesday  September 16th  • Wednesday  November 18th  12:30 
					p text
					ul
						li text
				div.sponsor
					h3 B.M.N.H Sponsors
					article
						div
							header
								h2
									a(href="") BMS Public Tenants Assoc
						p.des BMSPTA is a centre for a variety of programs and activities…
						a(href="").readmore Read More
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
					article
						div
							header
								h2
									a(href="") BMS Public Tenants Assoc
						p.des BMSPTA is a centre for a variety of programs and activities…
						a(href="").readmore Read More
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
					article
						div
							header
								h2
									a(href="") BMS Public Tenants Assoc
						p.des BMSPTA is a centre for a variety of programs and activities…
						a(href="").readmore Read More
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
					article
						div
							header
								h2
									a(href="") Silk media
						p.des B.M.N.H Would like to thank Silk Media Point Cook for their…
						a(href="").readmore Read More
						a(href="")
							img(src="img/p1.png" alt="p1" title="p1")
		footer
			nav
				ul
					li
						a(href="") About Us 
					li
						a(href="") Courses
					li
						a(href="") Services
					li
						a(href="") Newsletter
					li
						a(href="") Events
					li
						a(href="") Sponsors
					li
						a(href="") Contact Us
					li
						a(href="") FAQs  I  Unsubscribe Newsletter
					li
						a(href="") Privacy Policy
			div.wrapper
				div.contac
					p Contact us:
					ul
						li 113 Melon Street, Braybrook 3019
						li Phone: 03 9317 5610
						li Email: office@bmnh.org.au
						li ABN 73 967 833 454
				div.openHour
					p open hour:
					ul
						li Monday to Thursday 9:00 am – 4:00 pm  
				div.social
					p Follow Us on
					a(href="")
						img(src="img/p1.png" alt="p1" title="p1")
					a(href="")
						img(src="img/p1.png" alt="p1" title="p1")
					a(href="")
						img(src="img/p1.png" alt="p1" title="p1")